/*
	Theme Name: BackupPage
	Template: twentysixteen

 */


.fb_post {
	margin:50px 0px;
	font-size: 0.8em;
	width:60%;
	margin-left:auto;
	margin-right: auto;
}

.fb_post .fbimg {
	width: 50%;
	margin-left:auto;
	margin-right: auto;

}


.fb_listed {
	height:110px;
	font-size: 0.8em;
	line-height: 1.5em;
	overflow:  hidden;
	margin: 10px 0px;
	padding:10px;
}

.fb_listed div{
	display: inline-block;
}
.fb_listed .fbimg{
	float:left;
	margin-right:10px;
}
.fb_listed .fbsource {
	display: block;
	color: blue;
}